.feed-item{
    margin-bottom: 40px;
    .image{
        height: 240px;
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 10px;
    }
    .title{
        font-size: 16px;
        margin-bottom: 10px;
    }

}