.eu_control_btn, .btn{
    color: $white;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    background: $red;
    font-weight: 600;
    padding: 15px 38px;
    perspective: 30px;
    line-height: 19px;
    border: none;
    @include transition(all 200ms);
    @include border-radius(4px);
    &:after,&:before {
        content: '';
        position: absolute;
        z-index: -1;
        box-sizing: border-box;
        top: 10px;
        width: 29px;
        height: 29px;
        background: $red;
        @include border-radius(0 4px);
        @include transform(rotate(45deg) skew(10deg, 10deg));
        @include transition(all 200ms);
    }
    &:before {
        right: 100%;
        border-right: none;
        border-top: none;
        margin-right: -16px;
    }
    &:after{
        left: 100%;
        margin-left: -16px;
    }
    &:hover{
        background: $white;
        color: $red !important;
        &:before, &:after{
            background: $white;
        }
    }
    &:focus{
        @include box-shadow(none);
    }
    &:active:focus{
        @include box-shadow(none !important);
    }
}
.eu_control_btn{
    background: $white;
    color: $darker-bg !important;
    &:after, &:before{
        background: $white;
    }
    &:hover{
        background: $red !important;
        color: $white !important;
        &:before, &:after{
            background: $red;
        }
    }
}
.btn{
    &.btn-dark{
        background: $header-bg;
        &:after, &:before{
            background: $header-bg;
        }
        &:hover{
            background: $red;
            color: $white !important;
            &:before, &:after{
                background: $red;
            }
        }
        &:active{
            &:before, &:after{
                background: $header-bg;
            }
        }
    }
    &.btn-white{
        background: $white;
        color: $darker-bg !important;
        &:after, &:before{
            background: $white;
        }
        &:hover{
            background: $red;
            color: $white !important;
            &:before, &:after{
                background: $red;
            }
        }
    }
    &.btn-blue{
        background: $blue;
        font-weight: 300;
        padding-left: 15px;
        padding-right: 15px;
        &:after, &:before{
            background: $blue;
        }
        &.btn-blue-dark{
            font-weight: 600;
            background: $btn-blue;
            &:after, &:before{
                background: $btn-blue;
            }
        }
    }
    &.btn-blue, &.btn-blue.btn-blue-dark{
        &:hover{
            background: $red;
            color: $white !important;
            &:before, &:after{
                background: $red;
            }
        }
    }
    &.btn-prev, &.btn-next{
        text-align: center;
        color: $text-grey;
        outline: none;
        text-decoration: none;
        background: transparent;
        border: 1px solid $border-color;
        border-right: none;
        border-left: none;
        padding: 13px 18px;
        cursor: pointer;
        margin: 0 20px;
        @include transition(background 0ms);
        i{
            color: $grey;
        }
        &:after,&:before {
            background: transparent;
            border: 1px solid #97959a   ;
            top: 9px;
            width: 28px;
            height: 28px;
            @include transition(background 0ms);
        }
        &:before{
            margin-right: -15px;
        }
        &:after{
            border-bottom: none;
            border-left: none;
            margin-left: -15px;
        }
        &:hover{
            color: $white !important;
            .ico{
                @include filter(brightness(0) invert(1));
            }
            background: $red;
            border-color: $red;
            &:after {
                background: $red;
                border-color: $red;
            }
            &:before{
                border-color: $red;
            }
        }
        &:focus{
            outline: none !important;
        }
    }
    &.btn-prev{
        z-index: 1;
        &:before{
            border-top: none;
            border-right: none;
        }
        &:hover{
            &:before {
                background: $red;
            }
        }
    }
    &.btn-next, &.btn-subscribe{
        padding-left: 30px;
        margin-left: -5px;
        z-index: 0;
        &:before{
            border-bottom: none;
            border-left: none;
            @include border-radius(0);
            width: 26px;
            height: 26px;
            top: 9px;
            margin-right: -14px;
            background: #fafafa;
            @include transition(all 200ms);
        }
        &:hover{
            &:before{
                background: #fafafa;
                @include transition(all 0ms);
            }
        }
    }
    &.btn-subscribe{
        padding: 14px 30px;
        &:after, &:before{
            top: 10px;
            width: 27px;
            height: 27px;
            margin-left: -14px;
        }
        &:before {
            background: $darker-bg;
            border-color: $darker-bg;
        }
        &.btn-dark:before{
            background: $bg-grey;
            border-color: $bg-grey;
        }
        &:hover{
            &:before{
                background: $darker-bg;
            }
            &.btn-dark:before{
                background: $bg-grey;
            }
        }
    }
    &.btn-big{
        background: $header-bg;
        color: $white !important;
        @include border-radius(0);
        padding: 22px 40px;
        width: 100%;
        max-width: 265px;
        -webkit-clip-path: polygon(96% 0, 100% 13%, 88% 100%, 8% 100%, 0 50%, 8% 0);
        clip-path: polygon(96% 0, 100% 13%, 88% 100%, 8% 100%, 0 50%, 8% 0);
        &:before,&:after{
            display: none;
        }
        &:hover{
            background: $red;
            color: $white !important;
            &:after,&:before {
                background: $red;
            }
        }
        &.reverse{
            -webkit-clip-path: polygon(92% 0, 100% 50%, 92% 100%, 12% 100%, 0 13%, 2% 0);
            clip-path: polygon(92% 0, 100% 50%, 92% 100%, 12% 100%, 0 13%, 2% 0);
        }
    }
    &.btn-acc{
        border: 1px solid $red;
        border-left: none;
        border-right: none;
        height: 64px;
        font-weight: 300;
        padding: 16px 20px;
        &:before, &:after{
            top: 13px;
            width: 36px;
            height: 36px;
        }
        &:after{
            margin-left: -18px;
        }
        &:before{
            margin-right: -18px;
        }
        &.collapsed{
            background: #f5f5f5;
            color: $text-grey;
            border-color: $border-color;
            &:after, &:before{
                background: #f5f5f5;
            }
            &:after {
                border-bottom: none;
                border-left: none;
                border-top: 1px solid $border-color;
                border-right: 1px solid $border-color;
            }
            &:before{
                border-top: none;
                border-right: none;
                border-bottom: 1px solid $border-color;
                border-left: 1px solid $border-color;
            }
            .order-status, .order-title.full{
                &:after{
                    border-color: $border-color;
                    @include transform(rotate(45deg));
                }
            }

        }
        &:hover{
            background: $red;
            color: $white !important;
            &:after, &:before{
                background: $red;
            }
            .order-status, .order-title.full{
                &:after{
                    border-color: $white;
                }
            }
        }
        .order-status, .order-title.full{
            &:after{
                content: '';
                width: 8px;
                height: 8px;
                border-right: 2px solid $white;
                border-bottom: 2px solid $white;
                position: absolute;
                right: 30px;
                top: 27px;
                @include transform(rotate(-135deg));
                @include transition(all 333ms);
            }
        }

    }

    &.btn-nav{
        border: none;
        color: $text-grey;
        text-transform: none;
        padding: 0;
        i{
            border: 1px solid #dddddd;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
        }
        .text{
            margin-right: 0;
        }
        &:hover{
            background: none;
            text-decoration: underline;
        }
        &.next-post{
            i{
                border-radius: 0 4px 4px 0;
                margin-left: 14px;
            }
        }
        &.prev-post{
            i{
                border-radius: 4px 0 0 4px;
                margin-right: 14px;
            }
        }
    }

}
.btn-close{
    width: 20px;
    height: 20px;
    position: relative;
    &:before, &:after{
        content: '';
        width: 2px;
        height: 20px;
        position: absolute;
        left: 10px;
        background: #858089;
        display: block;
    }
    &:before{
        @include transform(rotate(45deg))
    }
    &:after{
        @include transform(rotate(-45deg))
    }
}
.gallery-nav {
    position: absolute;
    bottom: -30px;
    font-size: 20px;
    &.btn-prev{
        right: 35px;
    }
    &.btn-next{
        right: 0;
    }
}
.btn-read-more{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: $text-grey;
}


span.info-tooltip{
    width: 16px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    @include border-radius(50%);
    color: $white;
    background-color: #817C85;
    position: relative;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    margin-left: 10px;
    top: -2px;
    font-weight: 600;
}


span.play-button{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    @include border-radius(50%);
    border: 2px solid #97969f;
    cursor: pointer;
    &:after{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        top: 50%;
        margin-top: -10px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 15px solid $white;
    }

}

.btn-read-more{
    text-decoration: none;
    position: relative;
    &.swipe{
        position: absolute;
        top: 50%;
        left: -100px;
        margin-top: -7px;
        z-index: 101;
        line-height: 1;
        cursor: pointer;
        pointer-events: none;
        i{
            margin-left: 10px;
            color: $btn-blue;
            opacity: 0;
        }
        .link-text{
            color: $white;
            font-weight: 600;
            opacity: 0;
            display: inline-block;
        }
    }
}


a.readmore{
    font-weight: 600;
    display: inline-block;
    margin-left: 4px;
    i{
        font-size: 12px;
        margin-left: 3px;
    }
}
a.collapse-button{
    padding-top: 50%;
    display: flex;
    margin-top: -10px;
    align-items: stretch;
    float: right;
}

.no-click{
    pointer-events: none;
}


ul.page-numbers{
    text-align: left;
    display: block;
    margin-top: 35px;
    margin-bottom: 35px;
    li{
        padding: 0 20px;
        display: inline-block;
        font-weight: 700;
        a{
            color: $text-grey;
            &.next, &.prev{
                position: relative;
                display: inline-block;
                span{
                    border-color: $grey-light transparent transparent transparent;
                    border-style: solid;
                    height: 0;
                    border-width: 5px 5px 0 5px;
                    position: absolute;
                    top: 50%;
                    margin-top: -9px;
                    margin-left: -5px;
                    &.arrow-right{
                        @include transform(rotate(-90deg));
                    }
                    &.arrow-prev{
                        @include transform(rotate(90deg));
                    }
                }
            }
        }
    }
    span.page-numbers.current {
        color: $red;
    }
}
.invisible{
    @include opacity(0);
}

@media screen and (max-width: $breakpoint-md){
    .dropdown{
        a{
            width: 100%;
        }
    }
    a.collapse-button:not(.collapse-filters){
        padding-top: 0;
        margin-top: 0;
    }

    a.btn.gallery-nav{
        top: auto;
        bottom: -45px;
        &.btn-next{
            right: initial;
            left: 50px;
        }
    }
}

@media screen and (max-width: $breakpoint-lg){
    .btn{
        &.btn-prev, &.btn-next{
            padding: 13px 30px;
            line-height: 18px;
            margin: 0 14px;
        }
        &.btn-prev{
            .ico.ico-arrow.up{
                @include transform(rotate(180deg))
            }
        }
        &.btn-next{
            padding-left: 40px;
            .ico.ico-arrow.down{
                @include transform(rotate(0deg))
            }
        }
    }
}
@media screen and (max-width: $breakpoint-md){
    a.btn{
        &.btn-subscribe:not(.apply-coupon){
            background: $white;
            color: $darker-bg;
            &:before{
                @include border-radius(4px);
            }
            &:before, &:after{
                background: $white;
            }
        }
    }
}

@media screen and (max-width: $breakpoint-sm){
    .btn{
        padding: 10px 25px;
        font-size: 14px;
        &.btn-prev, &.btn-next, &.btn-subscribe{
            padding: 10px 30px;
        }
        &.btn-next{
            padding-left: 40px;
        }
        &:before, &.btn-subscribe:before{
            margin-right: -13px;
        }
        &:after, &.btn-subscribe:after{
            margin-left: -13px;
        }
        &.btn-prev, &.btn-next{
            &:before{
                margin-right: -12px;
            }
            &:after{
                margin-left: -12px;
            }
        }
        &.btn-big{
            max-width: initial;
            &.reverse{
                -webkit-clip-path: polygon(calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 24px 100%, 0 9px, 6px 0);
                clip-path: polygon(calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 24px 100%, 0 9px, 6px 0);
            }
        }
    }
    .btn, a.btn.btn-subscribe, a.btn.btn-next, a.btn.btn-prev{
        &:before, &:after{
            top: 8px;
            width: 23px;
            height: 23px;
        }
    }
    .btn-read-more{
        font-size: 14px;
    }
}