// Global colors
$black: #000;
$heading-grey: #1d1425;
$dark: #071c23;
$dark-bg: #160f1c;
$darker-bg: #120c17;
$header-bg: #1d1425;
$nav-grey: #a3a6a7;
$text-grey: #4D4851;
$label-grey: #757373;
$text-grey-light: #edeef0;
$grey: #98969A;
$grey-light: #b8b7ba;
$bg-grey: #f5f5f5;
$white: #ffffff;

$border-color: #807B84;

$red: #ae3375;

$dark-background: #343f46;


$blue: #29a5d1;
$blue-light: #c6e3ee;
$select-blue: #2d6594;
$btn-blue: #4267B2;


