input{
    outline: none;
}
input[type="radio"]{
    width: 14px;
    height: 14px;
    background-position: center;
    border: 1px solid $border-color;
    @include border-radius(50%);
    cursor: pointer;
    box-sizing: content-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:checked{
        background: url(../img/radio.svg) no-repeat;
        background-size: 15px;
        border-color: $red;
    }
}

#loginform p{
    input{
        display: block;
        margin-top: 10px;
    }

    label{
        margin-top: 20px;
    }
}

abbr[title]{
    border-bottom: none;
    text-decoration: none;
}
.hidden {
    display: none !important;
}

.col-wrap{
    @include column-count(3);
    .field-wrap{
        break-inside: avoid-column;
    }
}
.form-row{
    margin-left: 0;
    margin-right: 0;
}

.form-message{
    display: none;
    &.active{
        display: block;
    }
}

.form-status {
    border-color: $blue;
    color: $blue;
    margin: 25px 0;

    &:before {
        background: $blue;
        content: '';
    }

    &.hidden {
        display: none;
    }
}
.grecaptcha-badge{
    display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}
button#form-submit, a.btn-apply{
    display: inline-block;
    background: $red;
    color: $white !important;
    border: none;
    padding: 18px;
    margin-top: 22px;
    min-width: 160px;
    text-align: center;
    text-decoration: none;
}
.input-container
{
    display: inline-block;
    padding: 13px 24px 12px 24px;
    border: 1px solid $grey-light;
    border-left: none;
    border-right: none;
    z-index: 1;
    position: relative;
    text-align: left;
    &:after,&:before {
        content: '';
        position: absolute;
        z-index: -1;
        box-sizing: border-box;
        top: 8px;
        width: 30px;
        height: 30px;
        background: transparent;
        border: 1px solid $grey-light;
        @include border-radius(4px);
        transform: rotate(45deg) skew(10deg, 10deg);
        @include transition(all 200ms);
    }
    &:before{
        left: -15px;
        border-top: none;
        border-right: none;
    }
    &:after{
        border-bottom: none;
        border-left: none;
        right: -15px;
    }
    input{
        background: transparent;
        border: none;
        width: 100%;
        &:-webkit-autofill{
            -webkit-box-shadow: inset 0 0 0px 9999px $bg-grey;
        }
    }
}
.field-container{
    background: $white;
    padding: 24px;
    margin-bottom: 24px;
    @include border-radius(6px);
    h3{
        font-size: 20px;
        margin-bottom: 30px;
    }
    &.no-bg, &.disabled{
        background: none;
    }
    &.disabled{
        input, select{
            background: none;
            border: none;
            padding: 0;
            pointer-events: none;
            height: 24px;
            line-height: 24px;
            &:-webkit-autofill{
                -webkit-box-shadow: inset 0 0 0px 9999px #f5f5f5;
            }
        }
    }
}
.row.field-wrapper{
    .form-row{
        display: block;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.form-submit-container{
    label{
        margin: 0 auto;
    }
    button{
        margin: 0 auto;
    }
}
@media screen and (max-width: 1024px){
    .entry-content .ninja-forms-cont{
        width: 100%;
    }
    .col-wrap{
        @include column-count(2);
    }
}

@media screen and (max-width: 620px){
    .col-wrap{
        @include column-count(1);
    }
}
@media screen and (max-width: $breakpoint-sm){
    .input-container{
        padding: 9px 24px 9px 24px !important;
        &:before, &:after{
            top: 6px;
            width: 26px;
            height: 26px;
        }
        &:before{
            left: -13px;
        }
        &:after{
            right: -13px;
        }
        input{
            font-size: 15px;
        }
    }
    .row.field-wrapper{
        .form-row{
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
    }

}