/* ==========================================================================
   Mixins
   ========================================================================== */

/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
@mixin bp($point) {
    @if $point == biggie {
        @media (max-width: 1600px) {
            @content;
        }
    }
    @if $point == tablet {
        @media (max-width: 1024px) {
            @content;
        }
    } @else if $point == phone {
        @media (max-width: 768px) {
            @content;
        }
    }
}

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

/*
 * Mixin for basic CSS triangles
 * @include triangle(up, #000, 50px)
*/
@mixin triangle($direction:up, $color:#000, $size:100px) {
    @if ($direction == up) {
        border-color: transparent transparent $color;
        border-style: solid;
        border-width: 0 $size $size;
        height: 0;
        width: 0;
    }
    @if ($direction == down) {
        border-color: $color transparent transparent transparent;
        border-style: solid;
        border-width: $size;
        height: 0;
        width: 0;
    }
    @if ($direction == left) {
        border-color: transparent $color transparent transparent;
        border-style: solid;
        border-width: $size $size $size 0;
        height: 0;
        width: 0;
    }
    @if ($direction == right) {
        border-color: transparent transparent transparent $color;
        border-style: solid;
        border-width: $size 0 $size $size;
        height: 0;
        width: 0;
    }
}


@mixin v-align( $height ){
    &{
        display: table;
        width: 100%;
        height: $height;
        .center{
            display: table-cell;
            vertical-align: middle;
        }
    }
}


@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


// Burger parts
//
// (---) top    -> &:before
// [---] middle -> &
// (---) bottom -> &:after


// Vendor prefixes
$sass-burger-add-vendor-prefixes: true !default;
