// ALIGNMENTS
$alignments: 'top', 'right', 'bottom', 'left';

// Z-INDEXES
$z-indexes: (bottom: 1, low: 10, middle: 100, high: 1000, top: 10000);

// TYPO SETTINGS
$font-size-units: 10, 12, 13, 14, 15, 18, 16, 20, 22, 24, 30, 36, 48;
$line-heights: (
    'small': 1,
    'normal': 1.3,
    'large': 1.6
);

// BASE SPACING SETTING
$base-spacing: 20px;
$spacing-sizes: (
    '': $base-spacing,
    'quarter': round($base-spacing / 4),
    'half': round($base-spacing / 2),
    'double': 2 * $base-spacing
);

// Breakpoints
$breakpoint-xl: 1200px;
$breakpoint-lg: 991px;
$breakpoint-md: 767px;
$breakpoint-sm: 575px;
$breakpoint-xs: 480px;

@media (min-width: 1260px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 768px) {

    .col-md-1-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-md-4-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 80%;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
}
@media (min-width: 992px) {

    .col-md-1-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-md-4-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 80%;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }

    .col-md-3-8{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 37.5%;
        -ms-flex: 0 0 37.5%;
        flex: 0 0 37.5%;
        max-width: 37.5%;
    }
    .col-md-5-8{
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 62.5%;
        -ms-flex: 0 0 62.5%;
        flex: 0 0 62.5%;
        max-width: 62.5%;
    }
}

@media (min-width: 992px) {

    .col-lg-1-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 20%;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-lg-4-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 80%;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
}