body {
    font-size: 16px;
    font-family: $main-font;
    line-height: 20px;
    color: $text-grey;;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: $heading-grey;
    line-height: normal;
}
h2.section-title{
    font-size: 34px;
    margin: 0 0 40px;
    padding-top: 30px;
    font-weight: 600;
    text-align: center;
}
b{
    font-weight: 600;
}
p{
    font-size: 16px;
    font-weight: 300;
}
a{
    color: $red;
    &:hover, &:active{
        color: $red
    }
}
.entry-content {
    font-size: 16px;
    color: $text-grey;
    font-weight: 300;
    p{
        line-height: 28px;
        max-width: 560px;
        margin: 0 auto 11px;
    }
    h1, h2, h3, h4, h5, h6{
        max-width: 560px;
        margin-left: auto;
        margin-right: auto;
    }
    h1 {
        font-size: 36px;
        margin-bottom: 28px;
    }
    h2{
        font-size: 30px;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 29px;
        margin-bottom: 25px;
    }
    h4 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 13px;
        text-transform: uppercase;
    }

    a, a:visited {
        color: $red;
        text-decoration: underline;
        &.post-link{
            color: $heading-grey;
            &:hover{
                text-decoration: underline;
            }
        }
    }

    hr {
        background-color: $grey-light;
        border: none;
        width: 100%;
        height: 1px;
        margin: 40px 0 40px;
    }

    ul {
        list-style: disc;
        max-width: 560px;
    }
    ol{
        list-style-type: none;
        max-width: 560px;
        margin: 0 auto 30px;
        li{
            counter-increment: step-counter;
            position: relative;
            margin: 0 20px 9px 0;
            padding: 0 0 0 32px;
            word-wrap: break-word;
            line-height: 1.5;
            &:before{
                content: counter(step-counter)'.';
                color: $red;
                font-weight: 500;
                position: relative;
                left: -27px;
                margin-right: -12px;
            }
        }
    }
    ul:not(.entry-meta){
        margin: 0 auto 30px;
        list-style-type: none;
        list-style-position: inside;
        display: block;
        padding-left: 0;
        letter-spacing: 0.01em;
        li {
            position: relative;
            margin: 0 10px 15px 0;
            padding: 0 0 0 31px;
            line-height: 24px;
            display: block;
            word-wrap: break-word;
            &:before {
                display: inline-block;
                position: absolute;
                left: 4px;
                top: 9px;
                width: 8px;
                height: 8px;
                @include transform(rotate(45deg));
                content: "";
                background-color: $red;
            }
        }
    }

    blockquote {
        width: 90%;
        box-sizing: border-box;
        text-align: center;
        margin: 122px auto 80px;
        position: relative;
        font-size: 35px;
        font-weight: 300;
        font-stretch: normal;
        line-height: 35px;
        letter-spacing: normal;
        quotes: "\201C""\201D""\2018""\2019";
        p{
            font-size: 35px;
            line-height: 52px;
            max-width: 430px;
            font-weight: 500;
        }
        &:before {
            color: $blue-light;
            content: open-quote;
            font-size: 3.6em;
            font-weight: 700;
            position: absolute;
            top: -20px;
            left: calc(50% - 30px);
            display: block;
            font-family: Copperplate, "Copperplate Gothic Light", fantasy;
        }
    }
    em{
        font-style: italic;
    }

    table {
        width: 100%;
        margin: 25px 0;
        border-collapse: collapse;
        thead{
            td{
                padding: 10px 15px;
                color: $blue;
                font-size: 16px;
            }
        }

        tr{
            border-bottom: 1px solid #858f97;
        }

        td{
            padding: 10px 15px;
            &:not(:last-child){
                border-right: 1px solid #858f97;
            }
        }
    }

    figure.wp-caption{
        margin-bottom: 20px;
    }
    img{
        margin-bottom: 20px;
    }
}

article{
    h1.entry-title{
        line-height: 30px;
        padding-top: 30px;
    }
}

.tooltip{
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 #000;
    max-height: 150px;
    max-width: 390px;
    min-width: 20px;
    padding-left: 0px;
    width: auto;
    line-height: 12px;
    color: $text-grey;
    background: $white;
}

.article-text{
    max-height:142px;
    overflow:hidden;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 51px;
        height: 51px;
        margin: 6px;
        border: 6px solid $red;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $red transparent transparent transparent;
        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(2) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }

}

a.btn{
    .lds-ring{
        width: 22px;
        height: initial;
        position: relative;
        top: -20px;
        div{
            width: 23px;
            height: 23px;
            border-width: 2px;
            margin: 2px;
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 767px){
    h3.section-title {
        margin-bottom: 30px;
    }
    h2.section-title {
        font-size: 24px;
        padding-top: 24px;
        margin-bottom: 26px;
    }
}
@media screen and (max-width: 556px){
    h3.section-title {
        margin-bottom: 30px;
    }
    h2.section-title {
        font-size: 24px;
        padding-top: 24px;
        margin-bottom: 26px;
    }
}