.login-container{
    background: $white;
    padding: 24px;
    margin: 0 auto 24px;
    max-width: 552px;
    h3{
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    }
    .lost_password{
        text-align: center;
        margin-top: 22px;
    }
    .divider{
        position: relative;
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 40px;
        .text{
            background: $white;
            padding: 0 36px;
            bottom: 28px;
            position: relative;
            color: #9D9B9F;
            font-style: italic;
        }
    }
    &.new-customer{
        background: none;
        .divider{
            .text{
                background: #f5f5f5;
            }
        }
    }
    &.no-bg{
        background: none;
    }
    .login-button{
        margin: 30px auto 0;
        min-width: 232px;
    }
    .btn-facebook{
        min-width: 232px;
    }
    #logo-link{
        img{

        }
    }
}
.account-row{
    margin-top: 72px;
}
.account-nav{
    ul{
        li{
            height: 48px;
            line-height: 48px;
            text-transform: uppercase;
            font-weight: 300;
            padding-left: 22px;
            &.is-active{
                border-left: 2px solid $red;
                font-weight: 600;
            }
            a{
                color: $heading-grey;
            }
        }
    }
}
h2.page-title{
    font-size: 34px;
    margin-bottom: 40px;
}
.order-list{
    .card{
        background: transparent;
        border: none;
    }
    .card-header{
        border-bottom: none;
        font-weight: 300;
        background: transparent;
        a{
            width: 100%;
        }
        .order-title{
            float: left;
            text-align: left;
            line-height: 16px;
            .order-date{
                display: block;
                font-size: 14px;
                margin-top: 2px;
                @include opacity(0.54);
            }
            &.full{
                width: 100%;
                line-height: 32px;
            }
        }
        .order-status{
            float: right;
            line-height: 32px;
            margin-right: 60px;
            text-transform: none;
    }
    }
    .card-body{
        padding: 35px 20px;
        hr{
            margin: 48px 0;
        }
    }
    &.account-actions{
        .card-body{
            padding-top: 0;
        }
        .btn-dark{
            min-width: 186px;
            margin-left: 15px;
        }
    }
}
.woocommerce-order{
    .woocommerce-customer-details{
        .col{
            margin-bottom: 30px;
            color: #98969A;
            font-weight: 300;
        }
        .column-title{
            text-transform: uppercase;
            color: #404040;
            margin-bottom: 12px;
        }
    }
}
.account-actions{
    a.cancel-edit{
        margin-left: 78px;
    }
}
form.register, form.lost_reset_password{
    max-width: 552px;
    margin: 0 auto;

}
.lost_reset_password{
    .form-text{
        margin-bottom: 42px;
    }
    p{
        color: $heading-grey;
        line-height: 26px;
        font-weight: 300;
        margin-bottom: 15px;
    }
}
@media screen and (max-width: $breakpoint-md){
    .account-nav{
        bottom: 0;
        left: 0;
        width: 100%;
        position: fixed;
        background: $white;
        z-index: 100;
        border-top: 1px solid $red;
        ul{
            display: flex;
            li{
                flex: 0 0 40%;
                display: inline-block;
                text-align: center;
                padding-left: 0;
                &.is-active{
                    border-left: none;
                    a{
                        color: $red;
                    }
                }
                &:last-child{
                    flex: 0 0 20%;
                }
                a span.ico{
                    margin-bottom: -3px;
                }
            }
        }
    }
}
@media screen and (max-width: $breakpoint-sm){
    h2.page-title{
        font-size: 24px;
        margin-bottom: 30px;
    }
}