.footer{
    background: $dark-bg;
    color: $white;
    h3{
        color: #bab7bb;
        font-weight: 500;
        font-size: 24px;
    }
    h4{
        color: #bab7bb;
        font-weight: 500;
    }
    &-top{
        padding: 84px 15px;
    }
    &-middle{
        background: $darker-bg;
    }
    &-bottom{
        padding-top: 100px;
        padding-bottom: 40px;
        max-width: 864px;
    }
    &-copyrights{
        text-transform: uppercase;
        font-size: 11px;
    }
    &-social-link{
        width: 68px;
        height: 35px;
        color: #fff;
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        text-align: center;
        line-height: 29px;
        font-size: 27px;
        @include transition(color 333ms);
        &:hover{
            color: $blue;
        }
        .fa-linkedin{
            text-indent:2px;
        }
    }
    .social-links{
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .footer-info{
        color: #b7b5b9;
        border-bottom: 1px solid #241d29;
        padding-bottom: 48px;
        img.logo{
            max-width: 240px;
            margin-bottom: 18px;
        }
        a.btn{
            margin-top: 20px;
        }
    }

    .footer-copyright{
        background: $darker-bg;
        padding: 36px 0 50px;
        color: #7f7e81;
        font-size: 14px;
        letter-spacing: 0.1px;
        a{
            color: #7f7e81;
            margin: 5px 20px 0;
            display: inline-block;
            &:hover{
                color: $blue;
                text-decoration: none;
            }
        }
    }
    .footer-menus{
        margin-top: 37px;
        .footer-menu{
            text-align: center;
            ul{
                li{
                    margin-bottom: 8px;
                    a{
                        text-transform: uppercase;
                        color: #817d84;
                        font-weight: 600;
                        font-size: 14px;
                        &:hover{
                            text-decoration: none;
                            color: $blue;
                        }
                    }
                }
            }
        }
        .menu-title{
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    &.footer-small{
        background: none;
        .footer-copyright{
            background: none;
        }
    }
}

@media screen and (max-width: $breakpoint-md) {
    .footer{
        .instafeed-container{
            .insta-text{
                width: calc(100% - 24px);
                top: 324px;
                bottom: auto;
            }
        }
        .instafeed{
            a{
                width: calc(25% - 16px);
                margin: 8px;
                &:first-child{
                    width: calc(100% - 16px);
                    margin-left: 8px;
                }
            }
        }
        .subscribe-row{
            .input-container{
                margin-left: 0;
            }
            a.btn-subscribe{
                padding-left: 44px;
                margin-top: 16px;
                margin-left: 0;
            }
        }
        a.btn-subscribe, a.btn-contact{
            max-width: 360px;
            width: 63%;
        }
    }
}
@media screen and (max-width: $breakpoint-sm) {
    .footer{
        &-top{
            padding: 40px 15px;
        }
        &-bottom{
            padding-top: 54px;
            padding-bottom: 0;
        }
        .instafeed-container{
            display: flex;
            .insta-text{
                bottom: 54%;
                top: auto;
            }
        }
        .instafeed{
            padding: 0 8px;
            width: 100%;
            a:not(:first-child){
                width: calc(50% - 16px);
                height: 0;
                padding-bottom: 48%;
                position: relative;
            }
            a:first-child{
                height: 0;
                padding-bottom: 96%;
                position: relative;
            }
            a img{
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .social-links{
            margin-top: 13px;
            margin-bottom: 25px;
        }
        .footer-social-link{
            width: 53px;
            height: 30px;
            font-size: 20px;
        }
        h3{
            font-size: 20px;
        }
        .subscribe-row{
            padding-top: 40px;
            padding-bottom: 40px;
            h4{
                padding-bottom: 31px;
                margin-bottom: 30px;
            }
        }
        .footer-menus{
            margin-top: 44px;
            .menu-title{
                font-size: 16px;
                margin-bottom: 17px;
            }
            .footer-menu{
                margin-bottom: 28px;
                ul li{
                    margin-bottom: 7px;
                }
            }
        }
        .footer-copyright{
            padding: 29px 0 40px
        }
    }
}