html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html, body {
    height: 100%;
}
body.rtl .row{
    flex-direction: row-reverse;
}
body{
    background-color: $bg-grey;
}
::-moz-selection {
    background: $red;
    color: $white;
}
::selection {
    background: $red;
    color: $white;
}

main{
    width: 100%;
    min-height: calc(100vh - 515px);
}
body.overlay-open, body.nav-open, body.menu-open{
    overflow: hidden;
    &:after{
        @include opacity(1);
    }
}
body:after{
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    @include opacity(0);
    background: rgba(170,170,170,0.5);
    @include transition(all 500ms);
}
.wrap{
    padding-top: 144px;
    position: initial;  
}
html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: 300;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

img{
  max-width: 100%;
  height: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* FONT PRESETS */
/* CONTENT PRESETS */
/* COLOR PRESETS */

.row{
    &--padding-30 {
        padding: 30px 0;
    }

    &--padding-60 {
        padding: 60px 0;
    }

    &--padding-30-60 {
        padding: 30px 0 60px;
    }

    &--padding-60-30 {
        padding: 60px 0 30px;
    }

    &--padding-60-0 {
        padding: 60px 0 0;
    }

    &--padding-80 {
        padding: 80px 0;
    }

    &--padding-80-0 {
        padding: 80px 0 0;
    }

    &--padding-80-20{
        padding: 80px 0 20px;
    }

    &--padding-160 {
        padding: 160px 0 120px;
    }

    &--image-bkg {
        position: relative;
    }
    &.row-padding-0 {
        > [class*="col-"] {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    &.row-padding-1 {
        > [class*="col-"] {
            padding-left: 1px !important;
            padding-right: 1px !important;
        }
    }
    &.width-410{
        max-width: 410px;
        margin-left: auto;
        margin-right: auto;
    }
    &.width-700 {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    &.width-820 {
        max-width: 820px;
        margin-left: auto;
        margin-right: auto;
    }
    &.width-900{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    &.line-top{
        &:before{
            content: '';
            width: 80%;
            height: 1px;
            background: #D7D7D7;
            margin: 0 10% 62px;
            position: relative;
            top: 0;
        }
    }
}

.duotone-overlay{
    display: block;
    float: left;
}

.inline-block{
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

.padding-r-0{
    padding-right: 0!important;
}

.padding-l-0{
    padding-left: 0!important;
}

.padding-0{
    padding-right: 0!important;
    padding-left: 0!important;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}
.collapse.in, .tooltip.in{
    display: block;
}
.tooltip.in, .popover.in{
    @include opacity(1);
}
.popover{
    .popover-content{
        padding: 15px;
    }
    &.top{
        margin-top: -0.5rem;
        .arrow{
            bottom: calc((.5rem + 1px) * -1);
            margin-left: -8px;
            &:before{
                bottom: 0;
                border-top-color: rgba(0,0,0,.25);
            }
            &:after{
                bottom: 1px;
                border-top-color: #fff;
            }
            &:before, &:after{
                border-width: .5rem .5rem 0;
            }
        }
    }
}
.loading-icon{
    display: none;
    position:   absolute;
    color: $red;
    top: 50%;
    left: 50%;
    font-size: 30px;
    margin-top: -15px;
    margin-left: -15px;
}
.loading{
    @include opacity(0.5);
    pointer-events: none;
    .loading-icon{
        display: block;
    }
}
.card{
    border: none;
}
.pea_cook_control{
    max-width: 560px;
}
.cc-revoke{
    display: none;
}
@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@include sticky-footer(auto, ".outer-wrapper", ".push", ".content-info");

.lazyload{
    @include opacity(0);
    @include transition( opacity 333ms );
    &.b-loaded{
        @include opacity(1);
    }
}
@media screen and (max-width: $breakpoint-lg){
    .wrap{
        padding-top: 80px;
    }
}
@media screen and (max-width: $breakpoint-md){
    .wrap{
        padding-top: 64px;
    }
    .row{
        &--padding-80 {
            padding: 30px 0;
        }

        &--padding-80-0 {
            padding: 30px 0 0;
        }

    }
    @include sticky-footer(auto, ".outer-wrapper", ".push", ".content-info");
}
@media screen and (max-width: $breakpoint-sm){
    .entry-content{
        p{
            font-size: 14px;
        }
    }
    .row{
        &.line-top{
            &:before{
                margin: 0 5% 18px;
                width: 90%;
            }
        }
    }
}