$header-height        : 144px;
$r-header-height      : 80px;
$header-sticky-height : 60px;

header.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include backface-visibility(hidden);
    z-index: 1001;
    height: $header-height;
    font-weight: 600;
    text-transform: uppercase;
    color: $nav-grey;
    background-color: $header-bg;
    @include transition(all 250ms);
    .menu-outer{
        @include transition(all 250ms);
    }
    .header-inner{
        height: 100%;
        padding-left: 35px;
        padding-right: 35px;
        position: relative;
    }
    .brand {
        float: left;
        height: 100%;
        max-width: 233px;
        z-index: 100;
        width: 100%;
        a {
            text-decoration: none;
            height: 100%;
            display: block;
            max-width: 234px;
            line-height: 144px;
            .logo{
                max-height: 100%;
                width: 100%;
                height: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
        }

        .logo-sm {
            display: none;
            height: 40px;
        }
    }
    a{
        color: $nav-grey;
        font-weight: 400;
        &:hover,&.active{
            color: $white;
            text-decoration: none;
        }
    }
    .header-top{
        height: 44px;
        float: right;
        padding-right: 15px;
        @include transition(all 250ms);
        >ul>li{
            display: block;
            float: left;
            line-height: 39px;
            &:not(:last-child){
                margin-right: 36px;
            }
            a{
                font-size: 14px;
                position: relative;
                &.nav-icon{
                    font-size: 18px;
                    .ico{
                        position: relative;
                        top: 4px;

                    }
                    &:hover{
                        .ico{
                            @include filter(brightness(0) invert(1));
                        }
                    }
                }
                &.cart-btn .items-in-cart {
                    position: absolute;
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    background: $red;
                    color: $white;
                    line-height: 17px;
                    text-align: center;
                    @include border-radius(20px);
                    font-size: 11px;
                    top: -5px;
                    right: -8px;
                    @include opacity(0);
                    @include transition(top 200ms, right 200ms, opacity 200ms);
                    &.visible {
                        top: 9px;
                        @include opacity(1);
                    }
                }
            }
        }
    }
    .nav-main{
        display: inline-block;
        float: right;
        clear: right;
        ul.nav{
            list-style: none;
            margin: 0;
            padding-right: 15px;
            line-height: 56px;
            & > li {
                display: inline-block;
                position: relative;
                > a {
                    text-decoration: none;
                    padding: 15px 0;
                    font-size: 16px;
                    @include transition( color 200ms, padding 200ms );
                    color: $nav-grey;
                    &:hover{
                        color: $white;
                    }
                }
                &:not(:last-child){
                   > a{
                        margin-right: 23px;
                    }
                }
                & > ul.sub-menu{
                    @include opacity(0);
                    pointer-events: none;
                    position: absolute;
                    background: #fff;
                    left: calc(50% - 20px);
                    transform: translateX(-50%);
                    line-height: 41px;
                    margin-right:0;
                    padding: 5px 23px 10px;
                    text-align: center;
                    @include box-shadow(1px 3px 20px 0px rgba(15, 36, 66, 0.2));
                    @include border-radius(4px);
                    @include transition(opacity 333ms);
                    li{
                        display: block;
                        padding:0;
                        a{
                            padding:10px 0;
                            border:none;
                            text-align:left;
                            text-transform:uppercase;
                            white-space:nowrap;
                            color: $black;
                            font-weight: 300;
                            &:hover,{
                                color: $red;
                                text-decoration: underline;
                            }
                        }
                        &.active{
                            a{
                                color: $red;
                            }
                        }
                    }
                    .sub-menu{
                        @include box-shadow(none);
                        border-top: 1px solid #DDDDDD;
                        position:static;
                        a{
                            padding-left:20px;
                            font-size: 12px;
                        }
                    }
                }
                &.menu-item-has-children{
                    >a:after{
                        content: '';
                        position: relative;
                        display: inline-block;
                        right: -8px;
                        top: -3px;
                        margin-right: 17px;
                        width: 0;
                        height: 0;
                        border-left: 4px solid transparent;
                        border-right: 4px solid transparent;
                        border-top: 4px solid $nav-grey;
                    }
                    &:hover{
                        & > ul.sub-menu{
                            pointer-events: initial;
                            @include opacity(1);
                        }
                    }
                }
                &.active{
                    a{
                        color: $white;
                    }
                }
            }
        }
    }
    .lang-switcher {
        position: relative;
        a.curr-lang{
            display: block;
            vertical-align: middle;
            text-align: center;
            &:after{
                content: '';
                position: relative;
                right: -4px;
                top: 12px;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid $nav-grey;
            }
        }
        ul.languages{
            background: $white;
            @include opacity(0);
            pointer-events: none;
            position: absolute;
            left: 50%;
            @include transform(translateX(-50%));
            @include border-radius(5px);
            z-index: 100;
            padding: 10px 25px;
            @include transition(opacity 333ms);
            li{
                line-height: 40px;
                text-align: center;
                a{
                    display: block;
                    color: $heading-grey;
                    &:hover{
                        color: $red;
                        text-decoration: underline;
                    }
                }
            }
        }
        &:hover{
            ul.languages{
                @include opacity(1);
                pointer-events: initial;
            }
        }
    }
    #alg_currency_selector{
        a.selected{
            color: $white;
        }
    }
    &.header-small{
        .brand{
            float: none;
            max-width: 100%;
            a{
                margin: 0 auto;
            }
        }
        .menu-outer{
            position: absolute;
            top: 50%;
            margin-top: -11px;
            right: 0;
        }
    }
}
body.menu-open{
    header.banner{
        background-color: $dark;
    }
}

@media screen and (min-width: $breakpoint-lg){
    header.banner.minify{
        height: 80px;
        top: -80px;
        .header-top{
            margin-top: -44px;
            ul li.cart.has-items{
                position: absolute;
                bottom: 20px;
                right: -10px;
            }
        }
        .nav-main ul.nav{
            line-height: 80px;
        }
        &.show-topbar{
            top: 0;
        }
    }
}
.admin-bar {
    header.banner {
        top: 32px;
        &.minify{
            top: -80px;
        }
        &.show-topbar{
            top: 32px;
        }
    }
}

.main-menu-toggle{
    display: none;
    position: absolute;
    top: 0;
    left: 18px;
    width: 50px;
    height: 100%;
    z-index: 1000;
    .burger {
        @include burger(25px, 3px, 4px, $white);
        top: 50%;
    }
}



@media screen and ( max-width: $breakpoint-lg ) {
    header.banner{
        height: 80px;
        .header-inner {
            width: 100%;
            max-width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        &:not(.header-small) .brand{
            margin-left: 40px;
        }
        .header-top{
            height: 100%;
            >ul>li{
                &.in-mobile-menu{
                    visibility: hidden;
                    @include opacity(0);
                    position: fixed;
                    bottom: 0;
                    z-index: 1001;
                    @include transition(all 150ms);
                    @include transition-delay(0);
                }
                &.login {
                    left: 15px;
                }
                &.cur-switcher{
                    left: 48%;
                    
                }
                &.region-select{
                    right: calc(10% + 15px);
                }
                line-height: 80px;
            }
        }
        &.minify{
            height: 80px;
            top: -80px;
            .header-top{
                margin-top: -44px;
            }
            .nav-main ul.nav{
                line-height: 80px;
            }
            &.show-topbar{
                top: 0;
            }
        }
        &.header-small{
            .brand{
                float: left;
                max-width: 233px;
            }
            .menu-outer{
                float: right;
                position: initial;
                margin-right: 24px;
                margin-top: 0;
                line-height: 80px;
            }
        }
    }
    body.menu-open{
        header.banner{
            .header-top{
                >ul>li{
                    &.in-mobile-menu{
                        visibility: visible;
                        opacity: 1;
                        @include transition-delay(333ms);
                    }
                }
            }
        }
    }
    header.banner .main-menu-toggle{
        display: block;
    }
    .menu-outer{
        position: relative;
        z-index: 1;
    }
    header.banner:not(.header-small) .lang-switcher{
        //right: 40px;
    }
    .sticky-menu header.banner:not(.header-small) .nav-main,
    header.banner:not(.header-small) .nav-main{
        visibility: hidden;
        @include opacity(0);
        position: absolute;
        z-index: 1000;
        top: $r-header-height;
        left: -100vw;
        width: 90vw;
        height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);
        background: $dark;
        margin: 0 10vw 0 0;
        @include transition(all 333ms );

        ul.nav{
            padding: 30px 0 0;
            display: block;
            text-align: left;
            overflow: hidden;
            li{
                display: block;
                width: 100%;
                margin: 0;
                a{
                    display: block;
                    padding: 0 20px !important;
                    line-height: 45px;
                    margin-right: 0 !important;
                }
                &:hover, &.active{
                    >a{
                        color: $white;
                        font-weight: 500;
                        border-bottom: none;
                    }
                }
                &.menu-item-has-children{
                    &>a{
                        &:after {
                            display: block;
                            position: absolute;
                            top: 22px;
                            right: 0;
                            border-width: 5px;
                            @include transition(all 333ms);
                        }
                    }
                }
                & > ul.sub-menu {
                    @include opacity(1);
                    position: relative;
                    background: $dark;
                    @include transform(none);
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    display: none;
                    padding-left: 15px;
                    box-shadow: none;
                    li {
                        padding: 0;
                        display: block;
                        width: 100%;
                        a {
                            display: block;
                            width: 100%;
                            position: relative;
                            line-height: 45px;
                            color: $white;
                        }
                    }

                    li.menu-item-has-children > a:after {
                        display: none;
                    }

                }
                &.submenu-open {
                    &>a{
                        background: #10252d;
                        &:after{
                            border-top-color: $white;
                            @include transform(rotate(180deg));
                        }
                    }
                    ul.sub-menu a{
                        color: $white;
                    }
                }
            }
        }
        ul.soc-media{
            display: block;
            position: initial;
            float: none;
            height: 50px;
            line-height: 50px;
            text-align: center;
        }
    }
    .menu-open header.banner{
        .nav-main{
            visibility: visible;
            left: -15px;
            @include opacity(1);
        }
        .main-menu-toggle .burger{
            @include burger-to-cross;
        }
        .language-outer{
            visibility: visible;
            @include opacity(1);
        }
    }
}

@media screen and (max-width: $breakpoint-md){
    header.banner{
        height: 64px;
        .brand{
            margin-left: 0;
            max-width: 160px;
            a{
                padding: 16px 0;
                max-width: 134px;
            }
        }
        .header-top{
            >ul>li{
                line-height: 64px;
            }
        }
        &.minify{
            height: 64px;
            top: -64px;
            .header-top{
                margin-top: 0;
            }
        }
        &.header-small{
            .brand{
                max-width: 140px;
            }
            .menu-outer{
                line-height: 64px;
            }
        }
    }
    .main-menu-toggle{
        .burger {
            @include burger(18px, 2px, 4px, $white);
        }
    }
    .menu-open header.banner{
        .main-menu-toggle .burger{
            @include burger-to-cross;
        }
    }
    .sticky-menu header.banner:not(.header-small) .nav-main,
    header.banner:not(.header-small) .nav-main{
        top: 64px;
        height: calc(100vh - 64px);
        max-height: calc(100vh - 64px);
        &:after{
            content: '';
            display: block;
            position: fixed;
            width: 90vw;
            height: 56px;
            bottom: 0;
            left: 0;
            background: transparent;
            @include transition-delay(333ms);
        }
        ul.nav{
            height: calc(100% - 56px);
            max-height: calc(100% - 56px);
        }
    }
    .menu-open header.banner .nav-main:after{
        background: #071c23;
    }
}

@media screen and (max-width: 784px) {
    .admin-bar {
        header.banner {
            top: 46px;
        }
    }
}