/*  PAGE HEADER  */

h1.page-title{
    font-size: 45px;
    font-weight: 600;
}
.page-header {
    .container-fluid{
        height: 100%;
    }
    .title{
        margin: 0 auto;
        h1 {
            margin: 70px 0 40px;
        }
    }
    &.text-left{
        .title{
            max-width: 552px;
        }
    }
}
.page-content{
    padding-bottom: 60px;
    &.no-header{
        padding-top: 50px;
    }
}

.header-section{
    width: 100%;
    margin-top: -144px;
    background-color: $header-bg;
    position: relative;
    padding-bottom: 60px;
    .section-bg {
        @include filter(url(#duotone_blue) blur(15px));
        &.b-loaded{
            @include filter(url(#duotone_blue) blur(0));
        }
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        height: 100%;
        width: 100%;
        position: absolute;
        display: block;
        overflow: auto;
    }
    .page-header-content{
        padding-top: 360px;
        position: relative;
        text-align: center;
        h1.page-title{
            color: $white;
        }
    }
    .sport-content{
        padding-top: 200px;
        z-index: 2;
        color: $white;
        position: relative;
        max-width: 552px;
        h2.sport-title{
            color: $white;
            font-size: 45px;
            margin-bottom: 24px;
        }
        .sport-text{
            display: block;
            overflow: hidden;
            margin-bottom: 30px;
            &.collapse{
                min-height: 120px !important;
                height: 120px !important;
                &.in{
                    height: auto !important;
                }
            }
            p{
                font-size: 20px;
                line-height: 30px;
                font-weight: 100;
                margin-bottom: 17px;
            }
            @include opacity(0.7);
        }
        a.btn-read-more{
            color: $white;
            &[aria-expanded="true"]{
                display: none;
            }
        }

    }
    &.has-banner{
        padding-bottom: 108px;
    }
}

.filters-panel {
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-right:-10px;
    .filter-heading{
        height: 60px;
        line-height: 40px;
        border-bottom: none;
        background-color: $grey-light;
        border-top: 1px solid $grey-light;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        @include transition(background-color 333ms);
        a.filter-text{
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: $blue;
            text-decoration: none;
        }
        a.collapse-button{
            .ico.ico-expand{
                border: none;
            }
            .ico.ico-collapse{
                background-color: $white;
            }
        }
        .filter-panel-button{
            position: absolute;
            line-height: 40px;
            right: 15px;
        }
    }
    .dropdown-label{
        line-height:16px;
        padding-top:8px;
        padding-bottom:8px;
    }
    .filters-row{
        clear:left;
    }
    .filter-buttons{
        .btn{
            margin-right:0;
            margin-left:10px;
        }
    }
}
.mobile-sidebar-menu{
    position: fixed;
    bottom: 0;
    background: $white;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    left: 0;
    line-height: 53px;
    @include background-clip(padding-box);
    color: $blue;
    text-transform: uppercase;
    font-weight: 600;
    i{
        color: $red;
        font-size: 12px;
        margin: 0 30px 0 15px;
    }
    a.open-menu{
        height: 40px;
        width: 40px;
        display: block;
        border-radius: 50%;
        border: 2px solid $blue;
        margin-top: 6px;
        float: right;
        text-decoration: none;
        i{
            color: $blue;
            font-size: 22px;
            text-align: center;
            width: 36px;
            margin: 0;
            display: block;
            height: 36px;
            line-height: 36px;
        }
    }
}

.not-found-message{
    h3{
        font-size: 24px;
    }
    margin-top: 30px;
}
.b-lazy {
    @include filter(blur(15px));
    @include transition(background-image 500ms, opacity 500ms, filter 500ms);
    max-width: 100%;
}
.b-lazy.b-loaded {
    @include filter(blur(0));
}

@media screen and (max-width: 992px){
    h1.page-title{
        font-size: 30px;
        margin-top: 50px;
    }
    .header-section{
        .page-header-content{
            padding-top: 250px;
        }
    }
}
@media screen and (max-width: 768px){
    h1.page-title{
        padding: 0;
        height: auto;
        line-height: 34px;
    }
    .header-section{
        .page-header-content{
            padding-top: 200px;
        }
    }
    .page-header{
        margin-bottom: 30px;
        .title{
            top: 20px;
            h1{
                margin: 40px 0 30px;
            }
        }
        .breadcrumbs-wrap{
            top: 25px;
            div#breadcrumbs{
                line-height: 20px;
                padding: 0;
            }
        }
    }
}
@media screen and (max-width: $breakpoint-sm){
    .header-section{
        &:not(.has-banner) {
            padding-bottom: 40px;
        }
        .page-header-content{
            padding-top: 220px;
        }
    }
}
@media screen and (max-width: 400px){
    h1.page-title{
        padding: 0;
        font-size: 24px;
        line-height: 30px;
    }
    .page-header{
        .title{
            top: 15px;
        }
        .breadcrumbs-wrap{
            top: 20px;
            div#breadcrumbs{
                line-height: 18px;
                font-size: 13px;
                padding: 0;
            }
        }
    }

}